*{
    box-sizing: border-box;
}
.container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.main{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    font-size: 25px;
    line-height: 28px;
    font-weight: bold;
    text-align: center;
}
.columns{
    border: 2px solid black;
}
.header__column{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid #CBDFF2 ;
}
.wrapper1{
    display: flex;
    width: 100%;
}
.column__1{
    width: 150px;
    height: 150px;

}
.middle__column{
    width: 100%;
    height: 150px;
    border-left: 2px solid #CBDFF2;
    border-right: 2px solid #CBDFF2;
}
.column__2{
    width: 150px;
    height: 150px;

}
.footer__block{
    display: flex;
    justify-content: space-between;
}
.footer__block-column1{
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
    height: 250px;
    border-right: 2px solid #CBDFF2;
}
.main__block-column2{
    display: flex;
    flex: 1 1 50%;
    height: 250px;
}
.column__left-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #CBDFF2;
}
.column__left{
    width: 60%;
    height: 75px;
}
.column__right{
    width: 40%;
    height: 75px;
    border-left: 2px solid #CBDFF2;
}

@media (max-width: 1024px) {
    .wrapper2{
        display: none;
    }
}
@media (max-width: 768px) {
    .wrapper2{
        display: flex;
    }
    .header__column{
        flex-direction: column;
    }
    .wrapper1{
        flex-direction: row;
        width: 100%;
        border-bottom: 2px solid #CBDFF2;
    }
}
@media (max-width: 415px){
    .main {
        font-size: 18px;    
        line-height: 22px;
        font-weight: bold;
    }
}